.search-header {
  padding: 10px;
  background-color: #337ab7;
  text-align: center;
}

.search-header label {
  width: 50%;
}

.results .left-title{
  margin-bottom: 20px;
  padding-left: 40px;
}

.results .right-title{
  margin-bottom: 20px;
}

.results ul {
  list-style: none;
}
